.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 0;
  margin-top: 5.2rem;
  padding: 2rem 0;
  background-color: rgb(241, 237, 237);
}

.product {
  display: flex;
  justify-content: center;
  align-items: start;
}

.card {
  font-family: "Baloo Bhaijaan 2", cursive;
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
  border-radius: 20px;
  justify-content: start;
  align-items: start;
  width: 20rem;
  height: 21rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}
.card:hover {
  background-color: rgb(247, 247, 247);
  transform: scale(1.04);
}
.card img {
  height: 12rem;
  width: 20rem;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.title-price {
  position: relative;
  width: 100%;
}
.title-price h4 {
  position: absolute;
  right: 10px;
  top: 4px;
}
.card h2 {
  margin: 0.5rem 0;
}

.card h4 {
  margin: 0.5rem 0;
}
.pad-detail {
  padding: 0 0.4rem;
}

.loading {
  text-align: center;
  margin-top: 1rem;
}

@media (min-width: 654px) and  (max-width: 1210px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .loading {
    margin-top: 1rem;
  }
}
@media  (max-width: 653px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
@media   (max-width: 1012px) {
 .cards{
  margin-top: 2.5rem;
 }
}

